.Logo 
{
    padding: 15px;
    margin: 0 auto;
    left: 5em;
}


.nav 
{
    display: block;
    position: static;
    float: left;
    list-style-type: none;
    list-style-position: inside;
    margin-top: 10px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    background-color: black;
    width: 100%;

}

li 
{
    float: left;
    position: static;
    list-style-type: none;
    list-style-position: inside;
}

li a {
    display: block;
    position: static;
    color: white;
    text-decoration: none;
    text-align: left; 
    margin-left: 10em; 
    padding-left: 10em;
    padding-right: 10em;
    float: right;
}

li a:hover:not(.active) 
{
    background-color: gray;
}

.indexbody { 
	position: absolute; 
	top: 0; left: 0; bottom: 0; right: 0;
	background: url(../images/background.jpg) no-repeat bottom center; 
	background-attachment: fixed; 
	background-size: cover; 
	margin: 0 auto;
	padding: 0;
	}

.body
{
    width: 90%;
    height: 80em;
    margin: 5% auto;
    background-color: orange;
}

#videoembed1
{
    display: block;
    float: left;
    margin: 0 auto;
    padding: 3em;
    background-color: transparent;
}

#video1text
{
    float:right;
    position: relative;
    display: block;
    padding: 3em;
    color: white;
    background-color: black
}

#videoembed2
{
    display: block;
    float: left;
    margin: 0 auto;
    padding: 3em;
    background-color: transparent;
}

#video2text
{
    float:right;
    position: relative;
    display: block;
    padding: 3em;
    color: white;
    background-color: black
}

#bottombar {
    display: inline-block;
    position: relative;
    left: 5em;
    padding: 5em;
    height: 150px;
    background-color: black;
    color: white;
    margin: 0;
    
}





#sitelogo
{
    display: block;
    float: left;
    margin: 0 auto;
    padding: 3em;
    background-color: transparent;
}

#logotext
{
    float:right;
    position: relative;
    display: block;
    padding: 3em;
    color: white;
    background-color: black
}

#products
{
    display: block;
    float: left;
    margin: 0 auto;
    padding: 3em;
    background-color: transparent;
}

#producttext
{
    float:right;
    position: relative;
    display: block;
    padding: 3em;
    color: white;
    background-color: black
}

#staff
{
    display: block;
    float: left;
    margin: 0 auto;
    padding: 3em;
    background-color: transparent;
}

#stafftext
{
    float:right;
    position: relative;
    display: block;
    padding: 3em;
    color: white;
    background-color: black
}

#table {
    border-collapse: collapse;
    width: 100%;
    color: black;
    background-color: gray;
    height: 10em;
    margin: 0 auto;
    padding: 5em;
    
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 1em;
    
}

tr:nth-child(even) {
    background-color: white;
}